# Python
__pycache__/
*.py[cod]
*$py.class

# Mac system files
.DS_Store

# Data files (Dataset is usually too large for GitHub)
data/
*.npz

# Results/Checkpoints (Optional: comment out if you want to upload trained models)
# recognition/results/
# generation/results/
*.pt

# Editor config
.vscode/
.idea/

# LaTeX artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
